body {
  margin: 0; 
  padding: 0;
}
section {
  position: absolute;
  width: 100%;
}
header {
  height:10.8vh;
}
#cabecera{
	height: 65px;
}
#cabecera a:hover{
	text-decoration: none;
	height: 65px;
}
#title1{
	padding-left: 10px;	
	margin-left: 5px;
	font-size: 50px;
	float:left;
	text-align: left;
	font-family: 'Anton', sans-serif;
	-webkit-text-stroke: 2px #005ce6;
}
#title2{
	-webkit-text-stroke: 1px #005ce6;
	font-size: 28px;
	padding-right: 10px;	
	padding-top: 23px;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	text-align: right;
}
#imagenesMovimiento{
	-webkit-animation: slidein 5s infinite; /* Safari 4.0 - 8.0 */
  animation: slidein 10s infinite;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: -100%;
    width: 300%;
  }
}
#title3{
	padding-left: 10px;	
	margin-left: 5px;
	font-size: 120px;
	text-align: center;
	font-family: 'Anton', sans-serif;
	-webkit-text-stroke: 2px #005ce6;
	
}
#navBar{
	background-color: #005ce6;
	width: 100%;
	height: 40px;
	position: absolute;
}
#navBar a{
	text-decoration: none;
	color: white;
	font-size: 29px;
	padding: 10px 7px 2px 7px;
}
#navBar a:hover{
	text-decoration: none;
	color: black;
	font-size: 28px;
	padding: 10px 7px 2px 7px;
	border-bottom: solid 3px black;
}
#enlaceCalculadora{
	cursor:pointer;
}
#leftMenu{
	margin-top: 24px;
	border-right: solid 2px #005ce6;
	background: white;
	height:86.5vh;
	width: 14%;
	float: left;
	font-family: 'Merriweather', serif;
}
#leftMenu li{
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left:-10px;
	padding-left: 10px;
	text-align: left;
	list-style:none;
	margin-bottom: 5px;
	width:100%;
}
#leftMenu li:hover{
	color:white;
	text-align: left;
	list-style:none;
	margin-bottom: 5px;
	width:100%;
	background-color:#005ce6;
}
#leftMenu ul{
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 10px;
}
h4{
	margin-top: 3px;
	margin-bottom: 3px;
}   
#leftMenu a{
	text-decoration: none;
	color: black;
}
#center{
	margin-top: 20px;
	height:86.5vh;
	overflow: scroll;
	float: right;
	width: 85%;
}
#titleMenu{
	font-size: 40px;
	text-align: center;
}
#contenidoMenu{
	font-size: 20px;
	text-align: center;
	padding: 20px;
}
#contenidoMenu li{
	display: inline;
}
.codigo{
	font-size: 12px;
   	border: solid 1px;
   	width: 80%;
   	margin: auto;
   	padding: 10px;
}
.titleTeoria{
	color:red;
	font-size: 17px;
	text-decoration: underline;
	font-weight: bold;
}
#contenido{
	margin:10px;
}
#contenido p{
	margin:20px;
	font-size: 15px;
}
#contenido li{
	margin:8px;
}
#contenido pre{
	font-size: 15px;
}
.barraDiv{
	background: #BCBCBC;
	border:solid 2px;
	font-size: 22px;
	margin-bottom: 10px;
}

.barraSubDiv{
	background: #BCBCBC;
	border:solid 2px;
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: 15px;
}
.notaMargen{
	border:solid 2px blue;
	margin:auto;
	width: 82%;
	font-size: 15px;
	padding: 10px;
	margin-bottom: 10px;
}
.miniTitle{
	margin-left: 20px;
	border:solid 1px;
	text-align: center;
	width: 50%;
	margin: auto;
}

.divEjemplo ul{
	text-align: center;
	list-style: none;
	border:solid;
	width: 30%;
	margin: 0px auto 20px auto;
	border-radius: 10px;
	border-color: red;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);;
}
.botonEjemplo{
	margin-left: 48.5%;
	margin-bottom: 10px;
	background: none;
	border:solid 3px;
	border-radius: 10px;
	font-size:20px;
}
.botonEjemplo:hover{
	background-color: red;
}
#divEjemplo1{}
