<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<script type="text/javascript" src="javascript.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Anton|Dosis" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
		 <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> 
	</head>
	<body>
		<header>
			<div id="cabecera">
				<a href="index.html" style="text-decoration:none; color:black;"><div id="title1">ClasesConRosa</div></a>
				<div id="title2">Jose María Castro Palacios y Álvaro Montero Carmena</div>
			</div>
			<div id="navBar">
					&nbsp &nbsp &nbsp		
					<a href="#">Teoria</a>
					<a href="#">Ejercicios</a>
			</div> 	
		</header>
		<section>
				<div id="leftMenu">
{% load static %}
					<h4 style="text-align: center; margin-top:10px;"><a class="leftMenuItem" href="{% static 'Teoria/math.html' %}"><li style="text-align: center;">MATH</li></a></h4>
					<ul>
{% load static %}
						<a class="leftMenuItem" href="{% static 'Teoria/math.html' %}"><li>Propiedades</li></a>
						<a class="leftMenuItem" href="{% static 'Teoria/math.html' %}"><li>Metodos</li></a>
						<a class="leftMenuItem" id="enlaceCalculadora"><li>Calculadora</li></a>
					</ul>
					<h4 style="text-align: center; margin-top:10px;"><a class="leftMenuItem" href="{% static 'Teoria/carga.html' %}"><li style="text-align: center;">CARGA</li></a></h4>
					<ul>
						<a class="leftMenuItem" href="{% static 'Teoria/carga.html' %}"><li>Carga de componentes</li></a>
						<a class="leftMenuItem" href="{% static 'Teoria/carga.html' %}"><li>Carga de la página</li></a>
						<a class="leftMenuItem" href="{% static 'Teoria/carga.html' %}"><li>Descargando la página</li></a>
					</ul>
					<h4 style="text-align: center; margin-top:10px;"><a class="leftMenuItem" href="{% static 'Teoria/raton.html' %}"><li style="text-align: center;">RATÓN Y TECLADO</li></a></h4>
					<ul>
						<a class="leftMenuItem" href="{% static 'Teoria/raton.html' %}"><li>Eventos ratón</li></a>
						<a class="leftMenuItem" href="{% static 'Teoria/raton.html' %}"><li>Eventos teclado</li></a>
					</ul>
				</div>
				<div id="center">
					<div id="title3">ClasesConRosa</div>
					<div style="text-align: center; font-family: 'Anton', sans-serif; font-size: 20px;">TRABAJO REALIZADO POR ÁLVARO MONTERO CARMENA Y JOSÉ MARIA CASTRO PALACIOS, WEB REALIZADA CON HTML5, CSS3, JAVASCRIPT Y JQUERY</div>
					<div id="imagenesMovimiento" style="margin: auto; max-width:78%; min-height:400px;">
						<img src="{% static 'javascript_logo.png' %}" width="300">
						<img src="{% static 'HTML5CSS3Logos.svg' %}" width="480">
						<img src="{% static 'jquery_logo.png' %}" width="300">
					</div>
				</div>
		</section>
		<footer>
		</footer>

	</body>
</html>
